<%= content_for :head do %>
  <%= stylesheet_link_tag 'board' %>
<% end %>
<div id="game-info">
  <h1>
    Welcome to Connect Four, <span class="color-player-<%= @current_player %>">Player <%= @current_player %></span>
  </h1>
</div>
<div id="current-turn">
  <h3>
    Current turn for: <span id="current_turn" class="color-player-<%= @player_turn %>"></span>
  </h3>
</div>

<%= hidden_field_tag "player_id", @current_player %>
<%= hidden_field_tag "last_board", @last_board %>

<%= render partial: 'board' %>
<br><br><br>

<%= link_to "Restart Game!", restart_games_path%>
<script type="text/javascript">
  Board.init();
</script>